/* Marco Antonio López Sotomayor */

/*====================================== ETIQUETAS ======================================*/
article, footer, header, section{ display: block;}
body{ font-size:14px; }
h1, h2, h3, h4, h5, h6, a, p{ margin:0; padding:0; font-weight:normal; text-decoration:none;}
p{ line-height:150%;}
header{ width:100%; float:left; background-color:#fff; border-bottom:1px solid #B2B2B2; padding:10px 0; }
section{ width:100%; float:left; background-color:#F1EFED; padding:30px 0; }
footer{ width:100%; float:left; background-color:#fff; padding:15px 0; }
nav{ width:100%; }

/*====================================== CLASES ======================================*/
.interior{ margin:0 auto; width:990px; }
.msj_error{ font-size:12px; color:#f00; font-weight:bold; }


/*====================================== HEADER ======================================*/
/* HEADER SUPERIOR */
#header_superior{ width:100%; float:left; }

/* HEADER SUPERIOR - LOGO */
#header_superior #hds_logo{ width:400px; float:left; }
#header_superior #hds_logo h1 a{ display:block; width:350px; height:125px; float:left; background:url(../imagenes/logo_v312.png) no-repeat; text-indent:-1000em; }

/* HEADER SUPERIOR - SOCIAL MEDIA*/
#header_superior #hds_social{ width:135px; height:35px; float:left; padding:0 0 0 455px; }
#header_superior #hds_social ul{ margin:0; padding:0; list-style:none; clear:both; float:left; }
#header_superior #hds_social ul li{ margin:0; padding:0; overflow:hidden; float: left; text-indent:-1000em; width:45px; height:35px;}
#header_superior #hds_social ul a{ margin:0 5px; padding:0; float:left; clear:both; width:35px; height:35px; background-image:url(../imagenes/icon-social.png); }
#header_superior #hds_social ul a.hdssc_rss{ background-position:0 0; }
#header_superior #hds_social ul a.hdssc_rss:hover{ background-position:0 -45px; }
#header_superior #hds_social ul a.hdssc_youtube{ background-position:-45px 0; }
#header_superior #hds_social ul a.hdssc_youtube:hover{ background-position:-45px -45px; }
#header_superior #hds_social ul a.hdssc_facebook{ background-position:-90px 0; }
#header_superior #hds_social ul a.hdssc_facebook:hover{ background-position:-90px -45px; }

/* HEADER MENU */
#header_menu{ width:100%; float:left; margin:10px 0 0 0; }
#header_menu nav ul{ margin:0; padding:0; list-style:none; clear:both; float:left; }
#header_menu nav ul li{ margin:0; padding:0; overflow:hidden; float:left; color:#FFF; }
#header_menu nav ul li a{ padding:5px; float:left; clear:both; color:#000; font-size:14px; background-color:#000; color:#fff; }
#header_menu nav ul li a:hover{ text-decoration:underline;}

/* HEADER SLIDE */
#header_slide{ width:100%; float:left; }
#header_slide .bx-prev{ display:none; }
#header_slide .bx-next{ display:none; }
#header_slide a.pager-link{ display:block; float:left; width:246px; height:5px; background-color:#0071A2; text-indent:-1000em; }
#header_slide a.pager-active{ display:block; float:left; width:246px; height:5px; background-color:#D75A24; text-indent:-1000em; }
#header_slide a.pager-1, #header_slide a.pager-2, #header_slide a.pager-3{ border-right:1px solid #fff; }
#header_slide a.pager-4{ width:248px !important; float:left; }

/* HEADER NOTICIAS */
#header_noticias{ width:100%; float:left; margin:10px 0 0 0; }
#header_noticias .hdnt_item{ width:230px; position:relative; float:left; border-left:1px solid #000; padding:0 8px; }
#header_noticias .hdnt_fin{ width:230px; position:relative; float:left; padding-right:9px; border-right:1px solid #000; }
#header_noticias .hdnt_item .hdnti_detalles{ width:230px; height:180px; position:relative; }
#header_noticias .hdnt_item .hdnti_detalles .hdnti_titulo{ width:210px; position:absolute; z-index:3; left:0; bottom:0; background:url(../imagenes/fondo-noticia-trans.png) repeat; padding:10px; }
#header_noticias .hdnt_item .hdnti_detalles .hdnti_titulo h2, 
#header_noticias .hdnt_item .hdnti_detalles .hdnti_titulo h2 a{ font-size:13px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fff; }
#header_noticias .hdnt_item .hdnti_social{ width:230px; float:left; margin:7px 0 0 0; }
#header_noticias .hdnt_item .hdnti_social .hdntis_facebook,
#header_noticias .hdnt_item .hdnti_social .hdntis_twitter{ width:115px; float:left; }

/*====================================== SECTION ======================================*/
/* SECTION NEWS */
#section_news{ width:660px; float:left; margin:0 20px 0 0; position:relative; }

/* SECTION NEWS - NOTICIAS PRINCIPAL*/
#section_news .scnw_item{ width:620px; position:relative; float:left; padding:10px 19px; margin:0 0 15px 0; background-color:#fff; border:1px solid #AD9880; }
#section_news .scnw_item .scnwi_categoria{ width:620px; float:left; position:absolute; z-index:3; top:0; left:0; padding:10px 0 0 0; }
#section_news .scnw_item .scnwi_categoria .scnwic_color{ width:100px; height:12px; margin:7px 0 0 0; float:left; }

#section_news .scnw_item .scnwi_categoria .bgamenidades{ background-color:#D31C24 !important; }
#section_news .scnw_item .scnwi_categoria .clamenidades{ color:#D31C24; }
#section_news .scnw_item .scnwi_categoria .bgeditorial{ background-color:#B01117 !important; }
#section_news .scnw_item .scnwi_categoria .cleditorial{ color:#B01117; }
#section_news .scnw_item .scnwi_categoria .bgdevocionales{ background-color:#00ADEE !important; }
#section_news .scnw_item .scnwi_categoria .cldevocionales{ color:#00ADEE; }
#section_news .scnw_item .scnwi_categoria .bgeconomia{ background-color:#EC1C24 !important; }
#section_news .scnw_item .scnwi_categoria .cleconomia{ color:#EC1C24; }
#section_news .scnw_item .scnwi_categoria .bgeventos{ background-color:#00ADEE !important; }
#section_news .scnw_item .scnwi_categoria .cleventos{ color:#00ADEE; }
#section_news .scnw_item .scnwi_categoria .bgheroes-fe{ background-color:#9E1F63 !important; }
#section_news .scnw_item .scnwi_categoria .clheroes-fe{ color:#9E1F63; }
#section_news .scnw_item .scnwi_categoria .bghistoria{ background-color:#B76E11 !important; }
#section_news .scnw_item .scnwi_categoria .clhistoria{ color:#B76E11; }
#section_news .scnw_item .scnwi_categoria .bginternacional{ background-color:#EC1C24 !important; }
#section_news .scnw_item .scnwi_categoria .clinternacional{ color:#EC1C24; }
#section_news .scnw_item .scnwi_categoria .bgliteratura{ background-color:#AC913C !important; }
#section_news .scnw_item .scnwi_categoria .clliteratura{ color:#AC913C; }
#section_news .scnw_item .scnwi_categoria .bgnoticias{ background-color:#EC1C24 !important; }
#section_news .scnw_item .scnwi_categoria .clnoticias{ color:#EC1C24; }
#section_news .scnw_item .scnwi_categoria .bgportada{ background-color:#FFC10E !important; }
#section_news .scnw_item .scnwi_categoria .clportada{ color:#FFC10E; }
#section_news .scnw_item .scnwi_categoria .bgtestimonios{ background-color:#B76E11 !important; }
#section_news .scnw_item .scnwi_categoria .cltestimonios{ color:#B76E11; }
#section_news .scnw_item .scnwi_categoria .bgtecnologia{ background-color:#2B388F !important; }
#section_news .scnw_item .scnwi_categoria .cltecnologia{ color:#2B388F; }
#section_news .scnw_item .scnwi_categoria .bgmusica{ background-color:#034EA1 !important; }
#section_news .scnw_item .scnwi_categoria .clmusica{ color:#034EA1; }
#section_news .scnw_item .scnwi_categoria .bgcreacionismo{ background-color:#25408E !important; }
#section_news .scnw_item .scnwi_categoria .clcreacionismo{ color:#25408E; }
#section_news .scnw_item .scnwi_categoria .bghistorias-vida{ background-color:#B76E11 !important; }
#section_news .scnw_item .scnwi_categoria .clhistorias-vida{ color:#B76E11; }
#section_news .scnw_item .scnwi_categoria .bgSorteo{ background-color:#69C !important; }
#section_news .scnw_item .scnwi_categoria .clSorteo{ color:#69C; }

#section_news .scnw_item .scnwi_categoria .scnwic_nombre{ width:200px; float:left; font-size:14px; font-weight:bold; }
#section_news .scnw_item .scnwi_categoria .scnwic_nombre span{ font-size:21px; font-weight:bold; font-stretch:narrower; color:#000 !important; margin:0; padding:0; }
#section_news .scnw_item .scnwi_detalles{ width:620px; float:left; padding:30px 0 0 0; }
#section_news .scnw_item .scnwi_detalles h2,
#section_news .scnw_item .scnwi_detalles h2 a{ font-size:40px; font-weight:bold; color:#0B466C;}
#section_news .scnw_item .scnwi_detalles p{ font-size:12px;}
#section_news .scnw_item .scnwi_imagen{ width:620px; float:left; margin:10px 0 0 0; }
#section_news .scnw_item .scnwi_contenido{ width:620px; float:left; margin:10px 0 0 0; }
#section_news .scnw_item .scnwi_fecha_social{ width:620px; float:left; margin:5px 0 0 0; }
#section_news .scnw_item .scnwi_fecha_social .scnwifsc_fecha{ width:620px; float:left; font-size:11px; color:#999; }
#section_news .scnw_item .scnwi_fecha_social .scnwifsc_social{ width:620px; float:left; margin:5px 0 0 0; }
#section_news .scnw_item .scnwi_fecha_social .scnwifsc_social .scnwifscs_twitter,
#section_news .scnw_item .scnwi_fecha_social .scnwifsc_social .scnwifscs_facebook{ width:120px; float:left; }

/* SECTION NEWS - SORTEO */
#section_sorteo{ width:100%; float:left; }
#section_sorteo fieldset{ width:100%; float:left; border:none; margin:0; padding:5px 0; }
#section_sorteo fieldset label{ width:90px; float:left; text-align:right; padding:0 8px 0 0; }
#section_sorteo fieldset input[type=text]{ width:300px; padding:5px; }
#section_sorteo fieldset input[type=submit]{ width:200px; height:50px; border:none; background-image:url(../imagenes/fondo-boton-sorteo.jpg); }

/* SECTION SIDEBAR */
#section_sidebar{ width:290px; position:relative; float:left; margin:0 0 0 20px; position:relative; }

/* SECTION SIDEBAR ITEMS */
#section_sidebar .scsdb_item{ width:290px; float:left; position:relative; background-image:url(../imagenes/fondo-sidebar-espacio.png); background-position:bottom; background-repeat:no-repeat; margin:0 0 10px 0; padding:0 0 25px 0; }
#section_sidebar .scsdb_item .scsdbi_cabecera{ width:265px; float:left; font-size:14px; font-weight:bold; color:#fff; background:url(../imagenes/fondo-sidebar-cabecera.png) repeat-y; padding:7px 0 7px 25px; }
#section_sidebar .scsdb_item .scsdbi_cabecera a{ font-size:14px; color:#fff; font-weight:bold; }
#section_sidebar .scsdb_item .scsdbi_cabecera span{ background: #1F1C81; padding: 7px 8px; }
#section_sidebar .scsdb_item .scsdbi_cabecera span a{ text-decoration: underline; }
#section_sidebar .scsdb_item .scsdbi_contenido{ width:270px; float:left; padding:10px; margin:5px 0 0 0; }
#section_sidebar .scsdb_item .scsdbic_fdBlanco{ background-color:#fff; }
#section_sidebar .scsdb_item .scsdbic_pLeft0{ padding-left:0; }
#section_sidebar .scsdb_item .scsdbic_pRight0{ padding-right:0; }
#section_sidebar .scsdb_item .scsdbic_pTop0{ padding-top:0; }
#section_sidebar .scsdb_item .scsdbic_pBottom0{ padding-bottom:0; }
#section_sidebar .scsdb_item .scsdbic_ancho290{ width:290px !important; }
#section_sidebar .scsdb_item .scsdbic_fnt12{ font-size:12px; }
#section_sidebar .scsdb_item .scsdbic_lh120{ line-height:120%; }
#section_sidebar .scsdb_item .scsdbic_txtCentro{ text-align:center; }
#section_sidebar .scsdb_item .scsdbi_contenido img.sombra{ 
	box-shadow: 3px 3px #000000; 
	-moz-box-shadow: 3px 3px #000000; 
	-webkit-box-shadow: 3px 3px #000000;
	filter: progid:DXImageTransform.Microsoft.Shadow(strength=3, direction=135, color='#000000');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 3, Direction = 135, Color = '#000000')";
}

/**/
#pgaleria{ width:290px; float:left; overflow:hidden;}
#pgaleria_contenido a.left{ margin:-37px 0 0 28px !important;}
#pgaleria_contenido a.right{ margin:-42px 0 0 242px !important;}

/* SECTION SIDEBAR ITEMS - SALUDOS */
#section_sidebar .scsdb_item .scsdbi_contenido #wg_saludos{ width:270px; float:left; background-color:#FFFFE8; border:1px solid #FFFF00; padding:10px 9px; font-size:12px; line-height:120% !important; }
#section_sidebar .scsdb_item .scsdbi_contenido #wg_saludos.scsdbic_ctdSaludos{ width:270px; float:left; }
#section_sidebar .scsdb_item .scsdbi_contenido .scsdbic_btnSaludos{ width:290px; float:left; }
#section_sidebar .scsdb_item .scsdbi_contenido .scsdbic_btnSaludos a{ display:block; float:right; background-color:#FFFF00; color:#000; padding:5px 30px; font-weight:bold; font-style:italic;}

/* SECTION SIDEBAR ITEMS - VIDEOS */
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_select{ width:290px; height:245px; float:left; position:relative; margin:0 0 5px 0; }
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items{ width:290px; float:left; position:relative; }
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items .scsdbicv_item{ background-color:#c1c1c1; width:280px; float:left; padding:5px; margin:5px 0 0 0; border-bottom:1px dashed #666; }
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items .scsdbicv_item:hover{ background-color:#fff; cursor:pointer; }
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items .scsdbicv_item .scsdbicvi_imagen{ width:85px; float:left; margin-right:5px; }
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items .scsdbicv_item .scsdbicvi_titulo{ width:190px; float:left; font-size:12px; font-weight:bold; }

#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_select div{ width:290px; position:absolute; left:0; top:0; }
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_select div.player{ width:290px;  height:193px; float:left;}
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_select div .pvids_imagen{ width:290px; height:193px; float:left; position:relative;}
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_select div .pvids_descripcion{ width:280px; float:left; position:relative; background-color:#000; padding:5px; color:#fff; text-align:center; font-size:11px; }
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items ul{ list-style:none; margin:0; padding:0;}
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items li{ float:left;	width:280px; list-style-type:none; background-color:#C1C1C1; margin:0 0 5px 0; padding:5px; border-bottom:1px dashed #ABABAB; cursor:pointer;}
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items li.current{ background-color:#ffffff; color:#000000; font-weight:bold;}
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items li .pvidii_imagen{ width:85px; height:70px; float:left; margin:0 5px 0 0; background-color:#000;}
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items li .pvidii_contenido{ width:180px; float:left;}
#section_sidebar .scsdb_item .scsdbi_contenido #scsdbic_video_items li .pvidii_contenido p{ line-height:120%;}

/* SECTION SIDEBAR ITEMS - NOS ESCRIBEN */
#section_sidebar .scsdb_item .scsdbi_contenido #wg_cartas{ width:100%; float:left; padding:0 0 5px 0; border-bottom:1px solid #999; }
#section_sidebar .scsdb_item .scsdbi_contenido .bx-prev{ display:none; }
#section_sidebar .scsdb_item .scsdbi_contenido .bx-next{ display:none; }
#section_sidebar .scsdb_item .scsdbi_contenido hr.separacion{ margin:0; padding:0; border:none; border-top:1px solid #000; }
#section_sidebar .scsdb_item .scsdbi_contenido p a.todas_cartas{ font-weight:bold; color:#0071A2; text-decoration:underline;}
#section_sidebar .scsdb_item .scsdbi_contenido p.escribe_cartas{ color:#A7272D; }

/*====================================== FOOTER ======================================*/
/* FOOTER IZQUIERDA */
#footer_izq{ width:450px; float:left; }
#footer_izq p{ font-size:12px; color:#666; line-height:130%; }

/* FOOTER DERECHA */
#footer_der{ width:540px; float:left; }
#footer_der .ftd_item{ width:160px; float:left; margin:0 10px; }
#footer_der .ftd_item p,
#footer_der .ftd_item p a{ font-size:12px; color:#666; line-height:130%; }